body{
    background: #6C829DC0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

p.recette{
    display: inline-block;
    background-color: black;
    color: white;
    /* margin-left: 30px; */
    margin-top: -18px;
    padding: 9px 19px;
    margin-bottom: 5px;

}
div.contenu{
    display: block;
    background-color: white;
    margin: 40px 8px 80px 8px;
    padding: 8px 8px 20px 8px;
    /* min-width: 450; */
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
}
h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 13px;
}
p.description{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    
}

div.description{
   text-align: center;
}
div.recette{
    text-align: center;
}
div.description{
    margin-bottom: 0px;
}
hr{
    width: 25%;
}

div.separateur{
    width: 150px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
div.info{
    position: relative;
}
table.info{
    position:absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #6C829DC0;
    height: 50px;
}
table.info td{
    text-align: center;
    font-size: 12px;
}
table.info th{
    text-align: center;
    font-size: 14px;
}
img.info{
    display:inline-block;
    width: 100%;
    object-fit: cover; 
}
div.colonne{
    width: 45%;
    margin-top: 15px;
   
}
div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 4px solid #6C829DC0;
    padding-bottom: 5px;
}
div.colonne1, div.colonne2 {
    width: 45%;
}
div.colonne1{
    display: inline-block;
}
div.ingre p{
    border: 1px solid #6C829DC0;
    text-align: center;
    padding: 7px 0px;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0; 
}
table.prep p.numero {
    background-color: #6C829DC0;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    padding-top: 4px;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {
    div.contenu{
        min-width: 350;
        margin: 60px 10% 80px 10%;
        padding: 0px 30px 30px 30px;
    }

    table.info{
        height: 80px;
    }
    table.info td{
        font-size: 13px;
    }
    table.info th{
        font-size: 13px;
    }

    div.colonne{
        width: 45%;
    }
    div.colonne1{
        /* background-color: cadetblue; */
        margin-right: 10%;
    }
    div.colonne2{
        float: right;
    }
    div.colonne1, div.colonne2 {
        width: 45%;
    }
}